
*{margin:0;padding:0;}
html,body{background-color: #fff;width: 100%;color: #333;border:0;background: url(../images/bg.gif);}
ul,li{list-style: none;}
a{text-decoration: none;color: #333;}
img{border:0;}